/* You can add global styles to this file, and also import other style files */
.row{display:flex; flex-direction: row}


.column{display:flex; flex-direction: column}


.form-control.ng-touched.ng-invalid {
    border:2px solid red;
}

html,body{
    background-image: url('/assets/Fleet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    